@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/PixelifySans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
.footer-marquee-text-inner span,
.v-text-inner,
.banner-marquee-text,
.footer-marquee span {
  font-family: Pixelify Sans;
}

.hero-bg {
  background: linear-gradient(
      180deg,
      rgba(34, 197, 94, 0.79) 0%,
      rgba(34, 197, 94, 0.79) 60%,
      rgba(255, 255, 255, 0.984) 100%
    ),
    url("https://s3-alpha-sig.figma.com/img/3d71/7fce/044af6f03699e7c1706cc397adf184e7?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jkR-zfPVu~8U2r1Sr9qWFR2L-Azf7auTvkoCOJkFbDsaC7M3wNx1sQHviW0~OcXzVjWLiCd76GYOvR1EF~UbpIRuIwD~EcxYxP71lI39m~kylWBcVlK15jkZDGLeE~gv4n5638YORlnADvgTp2-lk43Dsg8PjaL7aa4tKwNYgfNMvt8rQVn8xBu0cVrtFRUT2llMx~XJXTTmxgIWBQzqQcQUAmxQ1y6xf6DZGZn44sEpAm5JXjjBdaiHByqXtylDJvuP0tlbH8g2D3~iaBgcS736ef9wRJJd-15WngiuxHX6nkjZkjHf5-IVc3P9CsVj9RfbqywJFDoNtnMwlOOAUA__");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.pedronomics-wrapper {
  background: linear-gradient(
    to bottom,
    rgba(65, 206, 132, 0) 0%,
    rgba(65, 206, 132, 0.64) 25%,
    rgba(65, 206, 132, 1) 100%
  );
}
.total-supply-bg {
  background: linear-gradient(to top, #99999910 25%, #ffffff 100%);
}
.metrix-container {
  background: linear-gradient(to top, #9999992e 25%, #ffffff 100%);
}
.total-supply-bg-inner {
  background: linear-gradient(to top, #99999916 25%, #efefefd4 100%);
  box-shadow: 0 32px 25px -47px rgb(0 0 0 / 0.1),
    11px -9px 47px 12px rgb(0 0 0 / 0.1);
}
.vertical-text {
  background: #f0f0f0;
  background: linear-gradient(to right, #f0f0f0 0%, #d38a59 50%, #f0f0f0 100%);
  -webkit-text-fill-color: transparent;
}

.roadmap-container {
  background: linear-gradient(to bottom, #ffffff 0%, #c6c6c6 64%, #ffffff 100%);
}
.banner-text {
  font-size: 5.5rem !important;
}
.about-container {
  width: 90%;
  max-width: 90rem;
}
.tale-of-perdro-wrapper {
  width: 55%;
  padding: 8rem 0px;
}
.tale-of-perdro-wrapper h2 {
  font-size: 4.3rem;
  line-height: 1.2;
}

.tale-of-perdro-wrapper p,
.why-pedro p {
  font-size: 24px;
  line-height: 1.5;
}
.why-pedro p {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}
.pedro-img-wrapper {
  width: 45%;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #7f1911 solid;
}
.pedro-img-gif {
  width: 580px;
  height: 580px;
  object-fit: cover;
}

.main-text {
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.roadmap-container {
  padding: 10rem 15rem 10rem 0px;
}
.nav-container {
  width: 90%;
  max-width: 90rem;
  padding: 3rem 0;
}
.rfm-marquee-container {
  height: 100% !important;
}
.nav-links a {
  font-weight: 600;
  font-size: 20px;
}
.white-paper-btn {
  height: 62px;
  font-size: 20px;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border: 2px #7f1911 solid;
}
.join-btn {
  font-size: 24px;
  padding: 2.5rem 1.8rem;
  background-color: #7f1911;
  color: #d38a59;
  border: 2px #d38a59 solid;
  font-weight: 600;
}
.main-text {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.main-text p {
  font-size: 2.25rem;
  width: 80%;
  max-width: 66rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.banner-text {
  font-size: 6.5rem !important;
  margin-bottom: 3rem;
}

.banner-marquee {
  position: relative;
  top: 5rem;
}
.banner-marquee-text {
  font-size: 40px;
}

.why-pedro h2 {
  font-size: 4.3rem;
}
.cards-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.item {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 2.5rem;
  overflow: hidden;
  background-color: #c68b59;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.item-img {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item:hover .item-img {
  opacity: 1 !important;
}
.why-pedro-container {
  width: 90%;
  max-width: 90rem;
}
.hov-white {
  color: #4a1d1d;
}
.item:hover .hov-white {
  color: #fff;
}
.item:hover .num-text {
  background-color: #d38a59;
  color: #4a1d1d;
}
.cards-container {
  border: 2px #7f1911 solid;
  max-height: 700px;
  max-width: 500px;
}

.footer-container h2 {
  font-size: 100px;
}
.footer-container p {
  font-size: 25px;
  line-height: 1.3;
}
.footer-links a {
  font-size: 24px;
  font-weight: 400;
}

.copy-right-text {
  font-size: 20px;
}

.num-text span {
  font-size: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  .metrix-container {
    width: 16rem !important;
  }
  .total-supply-bg {
    width: 550px;
    height: 550px;
  }
  .total-supply-bg-inner {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1366px) {
  .banner-text {
    font-size: 4.5rem !important;
  }
  .main-text p {
    font-size: 2rem;
  }
  .tale-of-perdro-wrapper {
    width: 55%;
    padding: 8rem 0px;
  }
  .tale-of-perdro-wrapper h2 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  .pedro-img-wrapper {
    width: 430px;
    height: 430px;
  }
  .pedro-img-gif {
    width: 430px;
    height: 430px;
  }
  .cards-container {
    height: 450px;
  }
  .supply-container {
    gap: 0 !important;
  }
  .metrix-container {
    width: 14rem !important;
  }
  .total-supply-bg {
    width: 500px;
    height: 500px;
  }
  .total-supply-bg-inner {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 1024px) {
  .banner-text {
    font-size: 4rem !important;
  }
  .main-text p {
    font-size: 1.5rem;
  }
  .tale-of-perdro-wrapper h2,
  .why-pedro h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .tale-of-perdro-wrapper p,
  .why-pedro p {
    font-size: 1rem;
    line-height: 1.2;
  }
  .pedro-img-wrapper {
    width: 300px;
    height: 300px;
  }
  .pedro-img-gif {
    width: 300px;
    height: 300px;
  }
  .roadmap-container {
    padding: 6rem 4rem 5rem 0px;
  }
  .v-line {
    right: 4.2rem;
  }
  .cards-container {
    height: 350px;
  }
  .cards-wrapper {
    height: 100%;
  }
  .metrix-container {
    width: 12rem !important;
  }
  .total-supply-bg {
    display: none;
  }
  .matrix-wrapper {
    /* display: none; */
  }
  .matrix-text-wrapper {
    width: 13rem;
  }
}
@media (max-width: 768px) {
  .item-img {
    opacity: 1 !important;
  }
  .nav-container {
    width: 90%;
  }
  .about-container {
    align-items: self-start;
  }
  .nav-container a img {
    width: 22%;
  }
  .banner-marquee,
  .footer-banner-marquee {
    height: 54px;
  }
  .banner-marquee-text {
    font-size: 24px;
  }
  .tale-of-perdro-wrapper,
  .why-pedro {
    padding: 0 !important;
    width: 80%;
    margin-left: 0;
  }
  .tale-of-perdro-wrapper h2,
  .why-pedro h2 {
    margin-bottom: 1.2rem;
  }
  .why-pedro p {
    margin: 0;
  }
  .pedro-img-wrapper {
    width: 430px;
    height: 430px;
    margin: 0 auto;
  }
  .pedro-img-gif {
    width: 430px;
    height: 430px;
  }
  .supply-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-grid-container {
    padding: 0;
  }
  .main-text {
    padding: 0;
  }
  .banner-text {
    font-size: 3.5rem !important;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .join-btn {
    font-size: 16px;
    padding: 1.5rem 1rem;
    background-color: #7f1911;
    color: #d38a59;
    border: 2px #d38a59 solid;
    font-weight: 600;
  }
  .v-text {
    left: 2.5rem;
    top: -5rem;
  }
  .roadmap-content {
    padding-right: 1rem;
  }
  .roadmap-container {
    background: transparent;
  }
  .v-text-inner {
    font-size: 4.5rem;
  }
  .footer-marquee-text {
    margin-bottom: 0;
  }
  .footer-marquee-text-inner {
    font-size: 6rem;
  }
  .copy-right-text {
    display: flex;
    font-size: 12px;
  }
  .solana-img {
    width: 10px;
    height: 7px;
  }
  .cards-container {
    height: 230px;
  }
  .num-text {
    width: 50px;
    height: 50px;
  }
  .num-text span {
    font-size: 24px;
  }
  .metrix-container {
    background: linear-gradient(to top, #999999 0%, #ffffff 100%);
  }
  .metrix-container:last-child {
    background: linear-gradient(to top, #41ce84 0%, #ffffff 100%);
  }
  .matrix-last-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .nav-container {
    padding: 2rem 0;
  }
  .main-text {
    width: 90%;
  }
  .banner-text {
    font-size: 2.5rem !important;
    margin: 1.5rem 0;
  }
  .main-text p {
    font-size: 16px;
    width: 90%;
    margin-bottom: 1.5rem;
  }
  .join-btn {
    font-size: 14px;
    padding: 1.4rem 1rem;
  }

  .card-wrapper {
    padding: 1rem;
  }
  .card-wrapper h2 {
    font-size: 24px;
    margin-bottom: 0rem;
  }
  .card-wrapper p {
    font-size: 12px;
    line-height: 1.2;
  }
  .hov-white {
    color: #fff;
  }
  .num-text {
    background-color: #d38a59;
    color: #4a1d1d;
  }
  .num-text span {
    font-size: 18px;
  }
  .why-pedro-container {
    padding-top: 3rem;
  }
  .metrix-container {
    width: 92vw !important;
  }

  .footer-container h2 {
    font-size: 45px;
  }
  .footer-container p {
    font-size: 18px;
  }
  .footer-img {
    width: 4rem;
    height: 4rem;
  }
  .footer-links {
    gap: 1rem;
  }
  .footer-links a {
    font-size: 16px;
  }
  .footer-marquee-text-inner {
    font-size: 10rem;
  }
  .footer-container-inner {
    padding: 0;
    padding-top: 1rem;
  }
  .roadmap-text {
    width: 92vw;
  }
}
@media (max-width: 500px) {
  .pedro-img-wrapper {
    width: 300px;
    height: 300px;
  }
  .pedro-img-gif {
    width: 300px;
    height: 300px;
  }
  .tale-of-perdro-wrapper {
    width: 90%;
  }
  .cards-grid-container {
    flex-direction: column;
    align-items: center;
  }
  .cards-container {
    height: 500px;
  }
  .card-wrapper {
    padding: 1rem;
  }
  .card-wrapper {
    padding: 2rem;
  }
  .card-wrapper h2 {
    font-size: 30px;
    margin-bottom: 0rem;
  }
  .card-wrapper p {
    font-size: 20px;
    line-height: 1.2;
  }
}
